{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard pt-4">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <!-- Saldo Atual card -->
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Saldo Atual</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-bank"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>R$ 500,00</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Saldo Atual Card -->

                <!-- Receitas card -->
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="card-body">
                            <h5 class="card-title">Receitas</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>R$ 2.600,00</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Receitas Card -->

                <!-- Despesas Card -->
                <div class="col-xxl-3 col-xl-12">

                    <div class="card info-card red-card">

                        <div class="card-body">
                            <h5 class="card-title">Despesas</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrow-down"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>R$ 1.500,00</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">decrease</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Despesas Card -->

                <!-- Balanço Card -->
                <div class="col-xxl-3 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title">Balanço Mensal</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>R$ 500,00</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">decrease</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Balanço Card -->

                <!-- Dispesas por categoria -->
                <div class="col-6">
                    <div class="card">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Despesas por categoria</h5>

                            <div id="DespesasporCategoriaCard" style="min-height: 400px;" class="echart"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    echarts.init(document.querySelector("#DespesasporCategoriaCard")).setOption({
                                        tooltip: {
                                            trigger: 'item'
                                        },
                                        legend: {
                                            top: '5%',
                                            left: 'center'
                                        },
                                        series: [{
                                            name: 'Access From',
                                            type: 'pie',
                                            radius: ['40%', '70%'],
                                            avoidLabelOverlap: false,
                                            label: {
                                                show: false,
                                                position: 'center'
                                            },
                                            emphasis: {
                                                label: {
                                                    show: true,
                                                    fontSize: '18',
                                                    fontWeight: 'bold'
                                                }
                                            },
                                            labelLine: {
                                                show: false
                                            },
                                            data: [{
                                                value: 1048,
                                                name: 'Contas'
                                            },
                                            {
                                                value: 735,
                                                name: 'Lazer'
                                            },
                                            {
                                                value: 580,
                                                name: 'Investimento'
                                            },
                                            {
                                                value: 484,
                                                name: 'Empréstimo'
                                            }
                                            ]
                                        }]
                                    });
                                });
                            </script>

                        </div>
                    </div>
                </div><!-- End Dispesas por categoria -->

                <!-- Receitas por categoria -->
                <div class="col-6">
                    <div class="card">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Receitas por categoria</h5>

                            <div id="ReceitasPorCategoriaCard" style="min-height: 400px;" class="echart"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    echarts.init(document.querySelector("#ReceitasPorCategoriaCard")).setOption({
                                        tooltip: {
                                            trigger: 'item'
                                        },
                                        legend: {
                                            top: '5%',
                                            left: 'center'
                                        },
                                        series: [{
                                            name: 'Access From',
                                            type: 'pie',
                                            radius: ['40%', '70%'],
                                            avoidLabelOverlap: false,
                                            label: {
                                                show: false,
                                                position: 'center'
                                            },
                                            emphasis: {
                                                label: {
                                                    show: true,
                                                    fontSize: '18',
                                                    fontWeight: 'bold'
                                                }
                                            },
                                            labelLine: {
                                                show: false
                                            },
                                            data: [{
                                                value: 2000,
                                                name: 'Salario'
                                            },
                                            {
                                                value: 100,
                                                name: 'Empréstimo'
                                            },
                                            {
                                                value: 580,
                                                name: 'Trampo Extra'
                                            }
                                            ]
                                        }]
                                    });
                                });
                            </script>

                        </div>
                    </div>
                </div><!-- End Receitas por categoria -->

                <!-- Evolução Receita / Despesa -->
                <div class="col-12">
                    <div class="card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filtro</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hoje</a></li>
                                <li><a class="dropdown-item" href="#">Esse Mês</a></li>
                                <li><a class="dropdown-item" href="#">Esse Ano</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Evolução de Receita / Despesa <span>| 2024</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChart"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Receita',
                                            data: [31, 40, 28],
                                        }, {
                                            name: 'Despesa',
                                            data: [11, 32, 45]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#2eca6a', '#fc0303'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'category',
                                            categories: ["2024-01-02", "2024-02-02", "2024-03-02"],
                                            labels: {
                                                formatter: function (value, timestamp) {
                                                    // Converter o valor para um objeto Date
                                                    var date = new Date(value);
                                                    // Obter o nome do mês
                                                    var month = date.toLocaleString('default', { month: 'short' });
                                                    // Retornar o nome do mês
                                                    return month;
                                                }
                                            }
                                        },
                                    }).render();
                                });
                            </script><!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End Reports -->

                <!-- Tranzações recentes -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filtro</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hoje</a></li>
                                <li><a class="dropdown-item" href="#">Esse Mês</a></li>
                                <li><a class="dropdown-item" href="#">Esse Ano</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Tranzações Recentes <span>| 15 dias</span></h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Conta</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Preço</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">#2457</a></th>
                                        <td>Brandon Jacob</td>
                                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                                        <td>$64</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>Bridie Kessler</td>
                                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                                        <td>$47</td>
                                        <td><span class="badge bg-warning">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2049</a></th>
                                        <td>Ashleigh Langosh</td>
                                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                                        <td>$147</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Angus Grady</td>
                                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                                        <td>$67</td>
                                        <td><span class="badge bg-danger">Rejected</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Raheem Lehner</td>
                                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                                        <td>$165</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Tranzações recentes -->


            </div>
        </div><!-- End Left side columns -->

    </div>
</section>
{% endblock %}